{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
{% block header %}
    <header>
        <div class="d-flex flex-column ">
            <h1 class="title-events"> Edit event</h1>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
            <button class="btn  btn-primary button" type="submit">Save</button>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}