{% extends 'base.html.twig' %}
{% block header %}
<header>
    <div class="d-flex flex-column ">
        <h1> Events</h1>
    </div>
</header>
{% endblock %}
{% block body %}
    {% for event in events %}
        <a href="#">{{ event.title }}</a><br><br>
    {% endfor %}
{% endblock %}