.field{
    color:red;
}
.title-events{
    color:red;
    text-align: center;
}
h1{
    color:red;
}
.button{
    margin-top: 20px;
}
.likes-views i{
    font-size: 14px;
    color:#333;
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 15px;

}
