{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="d-flex flex-column ">
                <h1 class="title-events"> Welcome, {{ app.user.username }}!</h1>
        </div>
    </header>
{% endblock %}
{% block body %}


<a href="#open-block" class="center-screen link-open-block">Go to chat with virtual helper</a>

    <div id="open-block">
        <div class="open-block-inner">
            <div class="open-block-text">
                <div class="container">
                    <h1>Hi,  {{ app.user.username }}!</h1>
                    <h2>Can I help you?</h2>
                    <div class="col">
                        <h3>Message:</h3>
                        <!-- Вывод всех сообщений будет здесь -->
                        <div id="all_mess"></div>
                    </div>
                    <div class="col">
                        <form id="messForm">
                            <div class="form-group">

                                <input id="inp" type="text" class="form-control input-lg" placeholder="Message..." />
                            </div>
                            <div class="form-group">
                                <button id="btn" class="btn btn-lg btn-success" type="submit" >Send!</button>
                            </div>
                        </form>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
                    <script>
                        $(function() {
                            let socket = io("http://localhost:3034");

                            let $form = $("#messForm");
                            let $inp = $("#inp");
                            let $all_messages = $("#all_mess");
                            let $user_name = "{{ app.user.username}}";


                            $form.submit(function(event){
                                event.preventDefault();
                                socket.emit('send mess',{mess:$inp.val(), user:$user_name});
                                $inp.val('');
                            });


                            socket.on('add mess', function (msg) {
                                console.log($user_name);
                                console.log(msg.user+"chat!!");
                                $all_messages.append(  msg.user + ":" + msg.mess + "<br>");

                            });

                            socket.emit('add mess', 'Hello World from client!!!!');
                            socket.emit('new user',$user_name)

                        });

                       </script>
                    <p>Socker.io Hello World client started!</p>
                </div>
                <a href="#" class="open-block-close" title="close">x</a>
            </div>
        </div>
    </div>

{% endblock %}
