{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="d-flex flex-column ">
            {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                <h1 class="title-events"> Welcome, {{ app.user.username }}!</h1>
            {#{% endif %}#}
        </div>
    </header>
{% endblock %}
{% block body %}


<a href="#open-block" class="center-screen link-open-block">Go to chat with virtual helper</a>

    <div id="open-block">
        <div class="open-block-inner">
            <div class="open-block-text">
                <div class="container">
                    <h1>Hi,  {{ app.user.username }}!</h1>
                    <h2>Can I help you?</h2>
                    <div class="col">
                        <h3>Message:</h3>
                        <!-- Вывод всех сообщений будет здесь -->
                        <div id="all_mess"></div>
                    </div>
                    <div class="col">
                        <form id="messForm">
                            <div class="form-group">
                                <input id="inp" type="text" class="form-control input-lg" placeholder="Message..." />
                            </div>
                            <div class="form-group">
                                <button id="btn" class="btn btn-lg btn-success" type="submit" >Send!</button>
                            </div>
                        </form>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
                    <script>
                        $(function() {
                            let socket = io("http://localhost:3034");

                            let $form = $("#messForm");
                            let $inp = $("#inp");
                            let $all_messages = $("#all_mess");

                            $form.submit(function(event){
                                event.preventDefault();
                                socket.emit('send mess',{mess:$inp.val()});
                                $inp.val('');
                            });


                            socket.on('add mess', function (msg) {
                                $all_messages.append(msg.mess+"<br>");

                            });
                            socket.emit('add mess', 'Hello World from client!!!!');

                        });

                        // var socket = io("http://localhost:3000");
                        // socket.on("message-from-server-to-client", function(msg) {
                        //     document.getElementById('message').innerHTML = msg;
                        // });
                        // socket.emit('message-from-client-to-server', 'Hello World!!!!');

                    </script>
                    <p>Socker.io Hello World client started!</p>
                </div>
                <a href="#" class="open-block-close" title="close">x</a>
            </div>
        </div>
    </div>

{% endblock %}
  {#{% block javascripts %}#}
      {#<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>#}
      {#<script>#}
          {#var socket = io("http://localhost:3000");#}
          {#socket.on("message-from-server-to-client", function(msg) {#}
              {#document.getElementById('message').innerHTML = msg;#}
          {#});#}
          {#socket.emit('message-from-client-to-server', 'Hello World!!!!');#}
      {#</script>#}
      {#<p>Socker.io Hello World client started!</p>#}
      {#<p id="message"></p>#}

  {#{% endblock %}#}