{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="d-flex flex-column ">

            {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                <h1 class="title-events"> Welcome, {{ app.user.username }}!</h1>
            {#{% endif %}#}
        </div>
    </header>
{% endblock %}
